body {
    background-color: rgb(253, 251, 251);
    font-size: 12px;
}

#cabecalho {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 10px;
    top: 0;
}

#minha_foto {
    margin-top: 50px;
    max-width: 150px;
}

#licoes_aprendidas {
    font-size: 12px;
}

#licoes_a_aprender {
    font-size: 12px;
}

#titulo-licoes {
    font-size: 16px;
}

#barra-lateral {
    float: right;
    width: 20%;
}

footer {
    background-color: black;
    color: white;
    clear: both;
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
  }