body {
  background-color: rgb(253, 251, 251);
  margin: 1px;
  padding: 1px;
  font-family: Montserrat, sans-serif;
}

header {
  background-color: seagreen;
  position: fixed;
  text-align: center;
  width: 100%;
  color: white;
  top: 0;
}

header h1 {
  font-size: 40px;
}

header ul {
  text-align: left;
}

section {
  padding-left: 40px;
}

section ul {
  float: left;
}

section ol {
  float: right;
  padding-right: 40%;
}

article , aside {
  border: 1px solid rgb(000, 000, 000);
  padding: 10px;
  text-align: justify;
  line-height: 20px;
}

footer {
  clear: both;
  text-align: right;
}

.lado-esquerdo {
  clear: left;
  position: inherit;
  float: left;
  width: 45%;
}

.lado-direito {
  clear: right;
  position: inherit;
  float: right;
  width: 45%;
}

#minha_foto {
  margin-top: 150px;
  width: 200px;
  display: block;
}
