.backgroundcolor {
    background-color: rgb(253, 251, 251);
    
}

#cabecalho {
    position: fixed;
    top: 0;
}

#titulo {

}

#minha_foto {
    max-width: 200px;
    position: fixed;
    top: 100px;
    left: 100px;
}

#licoes_aprendidas {
    position: fixed;
    top: 320px;

}

#licoes_a_aprender {
    position: fixed;
    top: 600px;
}