body { 
    background-color: rgb(253, 251, 251);
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
#cabecalho {
    position: fixed;
    margin-top: 0px;
    background-color: aquamarine;
    width: 100%;
}

#minha_foto {
    width: 60px;
    display: inline-block;
    margin-top: 100px;
}
.links-nav {
    display: inline-block;
    margin-left: 90px;
    width: auto;
}
#rodape {
    background-color: teal;
    padding: 10px;
    font-size: 20px;
}
.lado-esquerdo {
    display: inline-block;
    max-width: 40%;
}
.lado-direito {
    display: inline-block;
    max-width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #4f4f4f;
    padding: 20px;
}