* {
  margin: 0%;
}


body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 110%;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  background-color: rgb(85, 91, 110);
  padding-right: 40%;
  width: 20%;
  display: block;
  padding-left: 40%;
  padding-bottom: 3.5%;
  z-index: 1;
  color: rgb(208, 218, 190);
}

nav {
  z-index: 2;
  position: fixed;
  display: inline-block;
  margin-top: 0.5%;
  color: rgb(208, 218, 190);
}

nav h1 {
  font-size: 1.1em;
}

img {
  position: relative;
  display: inline-block;
  border-radius: 50%;
}

.img {
  margin-top: 7%;
  position: relative;
  display: inline-block;
  padding: 0.5%;
  background-color: rgb(85, 91, 110);
  border-radius: 50%;
}

ul {
  max-width: 100%;
  display: inline-block;
}

ol {
  max-width: 100%;
  display: inline-block;
}

footer h1 {
  font-size: 1em;
  text-align: center;
  position: relative;
}

footer {
  background-color: rgb(85, 91, 110);
  padding-bottom: 6%;
  margin-top: 7%;
}

.list {
  display: inline-block;
  margin-top: 10%;
  margin-left: 10%;
}

article {
  max-width: 50%;
  margin-left: 2%;
  margin-top: 3%;
  display: inline-block;
}

article h1 {
  font-size: 1.3em;
  margin-bottom: 3%;
}

aside {
  width: 35%;
  display: inline-block;
  position: relative;
}

aside h2 {
  text-align: center;
  font-size: 1.1em;
}

.list h1 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 4%;
}

table {
  display: inline-block;
  position: relative;
  border: 1px dashed black;
  max-width: 20%;
  right: -17%;
}
