body {
  background-color: #d6d6d6;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
main {
  margin: 0px 20px;
}
#cabecalho {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #e9e9e9 ;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid #C2C0BE;
}
#minha_foto {
  margin-left: 22px;
  margin-top: 100px;
  margin-bottom: 25px;
  height: 200px;
}
#rodape {
  margin: 0px 20px;
}
#rodape p {
  font-weight: 600;
  color: #11a36a; 
  position: relative;
  text-align: center;
  left: 0;
  width: 100%;
  height: 50px;
}
.description_container {
  margin-top: 60px;
}
.main-displacement {
  height: 700px;
}
.lessons-lists ul, ol {
  display: inline-block;
  margin-top: 20px;
  left: 50px;
  padding: auto; 
}
.lado-esquerdo {
  padding-right: 45%;
  line-height: 25px;
}
.lado-direito {
  display: inline-block;
  padding-left: 75%;
  margin-top: 20px;
  position: relative;
  bottom: 250px;
  line-height: 25px;
  font-size: 15;
}
.description_table th, td {
  border: 1px solid black;
  padding: 10px;
}
.description_table td {
  text-align: left;
}
.article_section article, aside {
  display: inline-block;
}
