
body{
    background-color: rgb(253, 251, 251);
    margin: 0px;
    padding: 0px;
}
#cabecalho{
    position: fixed;
    top: 0px;
    background-color: #2FC18C;
    width: 100%;
    padding: 10px;
}
#titulo{
    font-family: arial;
    font-weight: 900;
    display: inline-block;
    color: white;
    margin-left: 15px;
}
#minha_foto{
    float: right;
    margin-right: 20px;
    border-radius: 120px;
    width: 80px;
}
section{
    display: inline-block;
}
.subtitulo{
    margin-top: 120px;
    margin-left: 20px;
    font-family: arial;
    color: #2FC18C;
}
#licoes_aprendidas{
    margin-top: 20px;
}
#licoes_aprendidas li{
    font-family: arial;
    font-weight: 700;
}
#licoes_a_aprender{
    font-family: arial;
    font-weight: 700;
}
#rodape{
    width: 100%;
    height: 60px;
    padding: 5px;
    background-color: #2FC18C;
}
p{
    margin-left: 20px;
    font-family: arial;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    color: #000;
}
article{
    float: left;
}
aside{
    float: right;
}