/*npm run cypress:open*/
body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    background-color: green;
    position:fixed;
    font-weight: bold;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 140px;
    
}

#titulo{    
    text-align: center;
    color: white;
}

#access{
    margin-left: 40px;
    color: white;
    cursor: pointer;
}

#minha_foto{
    width: 200px;
    margin-top: 160px;
    margin-left: 20px;

}

#perfil{
    margin-top: 2px;
    margin-left: 20px;
    text-decoration: underline;
    cursor: pointer;
}

#licoes{
    margin-top: 75px;
    margin-left: 30px;
}



#licoes_aprendidas{
    margin-top: 40px;
    margin-left: 30px;
    display: inline-block;
}

#licoes_a_aprender{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 500px;
    display: inline-block;
}

#main{
    width: 400px;
    height: 200px;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-flex;
    text-align: center;
}

#descricao{
    width: 400px;
    height: 200px;
    margin-left: 300px;
    display: inline-flex;
    text-align: center;
}

