/* Tags */
body {
  background-color: rgb(253, 251, 251);
  color: rgb(19, 21, 22);
  font-family: 'Montserrat';
  margin-top: 110px;
}

section {
  text-align: center;
}

nav {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

thead {
  background-color: rgb(133, 188, 87);
  color: white;
}

tr:nth-child(even) {
  background-color: rgb(219, 219, 219);
}

/* Seções */
#cabecalho {
  background-color: rgb(127, 221, 143);
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
}

#licoes_aprendidas {
  display: inline-block;
  width: 350px;
}

#licoes_a_aprender {
  display: inline-block;
  width: 350px;
}

#rodape {
  background-color: rgb(127, 221, 143);
  padding: 1px;
  margin-top: 25px;
}

.lado-esquerdo {
  text-align: center;
  display: inline-block;
  width: 40%;
  margin-left: 10%;
}

.lado-direito {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

/* Elementos */
#titulo {
  color: white;
  text-align: center;
  margin-top: 30px;
  line-height: 5px;
}

#cabecalho p {
  color: white;
  text-align: center;
  margin-top: 0px;
}

#minha_foto {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#licoes_aprendidas h2, #licoes_a_aprender h2 {
  margin-top: 0px;
}

#licoes_aprendidas li:nth-child(even) {
  background-color: rgb(219, 219, 219);
}
  
#licoes_a_aprender li:nth-child(even) {
  background-color: rgb(219, 219, 219);
}

.botao {
  background-color: rgb(133, 188, 87);
  padding: 5px;
  padding-right: 25px;
  padding-left: 25px;
  border: 0px;
  border-radius: 3px;
}

.botao a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

article h2, aside h2 {
  background-color: rgb(219, 219, 219);
}

#rodape p {
  color: white;
  text-align: center;
  font-size: 14px;
}