body {
    background-color: rgb(253, 251, 251);
}

.formas_de_texto {
    font-family: Arial, Helvetica, sans-serif;
    color:slategray;
    font-size: 35px;
    line-height: 3%;
}

#cabecalho {
    border: solid;
    border-color: red;
    margin-top: 0;
}

#titulo {
    text-align: center;
}

#titulo_trybe {
    display: inline;
    font-size: 18px;
}

#foto_do_perfil {
    border: solid;
    border-color: red;
}

#minha_foto {
    width: 250px;
    margin-top:2%;
    margin-bottom: 2%;

}

#lista_ordenada {
    border: solid;
    border-color: red;
    padding-left: 1%;
}

#lista_nao_ordenada {
    border:solid;
    border-color: red;
    padding-left: 1%;
}

#tabela_skills {
    border:solid;
    border-color: red;
    margin-top: 2%;
    margin-bottom: 2%;
}

#artigo_sobre_aprendizagem {
    border: solid;
    border-color: red;
    width: 50%;
    display: inline-block;
}

#passagem_na_trybe {
    border: solid;
    border-color: red;
    width: 50%;
    display: inline-block;
}