@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 251, 251);
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

#cabecalho {
    padding: 35px;
    background-color: #DBEAFE;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin-right: 45px;
}

nav ul li {
    display: inline-block;
    margin-left: 45px;
    font-size: 20px;
}

nav ul a {
    color: rgb(24, 23, 23);
}

nav ul a:hover {
    color: #7869be;
}


#titulo {
    padding: 8px;
}

.center {
    text-align: center;
}

#minha_foto {
    margin-top: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.lessons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

#licoes_aprendidas {
    padding: 5px;
    list-style: none;
    text-align: center;
}

#licoes_a_aprender {
    padding: 5px;
    list-style: none;
    text-align: center;
}

#artigo {
    text-align: justify;
    padding: 15px;
}

#conteudo-lateral {
    text-align: justify;
    padding: 15px;

}

#rodape {
    text-align: center;
    background-color: #DBEAFE;
    padding: 35px;
}

#rodape p {
    font-size: 20px;
    font-weight: 700;
}

