body{
    margin: 0;
    background-color:rgb(253, 251, 251);
    z-index: 10;
}

/*header*/
#cabecalho{
    top: 0;
    text-align: center;
}

article ul li{
    list-style: none;
    margin-right: 1100px;
}

/*Foto*/

#minha_foto{
    width: 150px;
    margin-left: 50px;
    padding: 20px;
}

.conteudo a{
    top: 200px;
    margin-left: 80px;
}

/*Conteúdo*/
.conteudo h1{
    margin:0px 80px;
    padding-top: 60px;
}

#licoes_aprendidas {
    display: inline-block;
    margin:80px;
    margin-top: 30px;
}

#licoes_a_aprender{
    display: inline-block;
    margin-left: 10px;
    padding-top: 30px;
}
